.gomoku-container {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0dac3;
  gap: 16px;
}

.gomoku-container button {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #c07d15;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.gomoku-container button:disabled {
  background-color: #bbb;
}

@media (orientation: portrait) {
  .gomoku-container {
    flex-direction: column;
  }
}

.gomoku-info {
  align-self: stretch;
  display: flex;
}

@media (orientation: landscape) {
  .gomoku-info {
    flex-direction: column;
  }
}

.gomoku-player {
  flex-shrink: 0;
  padding: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 4px;
  min-width: 0;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.gomoku-player.active {
  border-color: #c07d15;
}

.gomoku-player-name {
  width: 120px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.gomoku-player-name.right {
  text-align: right;
}

.gomoku-status {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gomoku-board {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 4px;
  padding: 8px;
  background-color: #c07d15;
}

.gomoku-board > svg {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
